/* line 4, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 1, ../../../app/stylesheets/partials/_graph.sass */
div.progress-container {
  border: 1px solid #ccc;
  width: 250px;
  margin: 2px 5px 2px 0;
  padding: 1px;
  float: left;
  background: white; }

/* line 10, ../../../app/stylesheets/partials/_graph.sass */
div.progress-container > div {
  background-color: #94A69D;
  height: 12px;
  font-size: 7pt;
  color: #000; }

/* line 4, ../../../app/stylesheets/partials/_table.sass */
#content table.list {
  background: none;
  border-spacing: 0; }
  /* line 7, ../../../app/stylesheets/partials/_table.sass */
  #content table.list caption {
    background: #CCC;
    color: #FFF;
    font-weight: bold;
    padding: 2px 6px 2px 6px; }
  /* line 12, ../../../app/stylesheets/partials/_table.sass */
  #content table.list a {
    color: #000;
    font-weight: normal;
    color: black;
    text-decoration: underline; }
  /* line 17, ../../../app/stylesheets/partials/_table.sass */
  #content table.list a:hover {
    color: #000;
    text-decoration: underline; }
  /* line 20, ../../../app/stylesheets/partials/_table.sass */
  #content table.list td {
    padding: 4px 5px 4px 5px;
    text-align: center;
    color: #000; }
    /* line 24, ../../../app/stylesheets/partials/_table.sass */
    #content table.list td a {
      color: #262626; }
  /* line 26, ../../../app/stylesheets/partials/_table.sass */
  #content table.list th {
    padding: 4px 5px 4px 5px;
    background: #94a69d;
    border-color: #D7D7D7 #D7D7D7 #999999;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    color: #FFF; }
    /* line 34, ../../../app/stylesheets/partials/_table.sass */
    #content table.list th a {
      color: #467AAF; }
  /* line 36, ../../../app/stylesheets/partials/_table.sass */
  #content table.list th.first {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px; }
  /* line 39, ../../../app/stylesheets/partials/_table.sass */
  #content table.list th.last {
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px; }
  /* line 42, ../../../app/stylesheets/partials/_table.sass */
  #content table.list tr {
    background: #FFF; }
    /* line 45, ../../../app/stylesheets/partials/_table.sass */
    #content table.list tr td a {
      color: #000; }
  /* line 49, ../../../app/stylesheets/partials/_table.sass */
  #content table.list tr.select td {
    background: #507AAA; }
  /* line 52, ../../../app/stylesheets/partials/_table.sass */
  #content table.list tr:hover td {
    background: #F5FBFF;
    color: black; }
    /* line 55, ../../../app/stylesheets/partials/_table.sass */
    #content table.list tr:hover td a {
      color: black; }
  /* line 57, ../../../app/stylesheets/partials/_table.sass */
  #content table.list td {
    border: 1px solid #D7D7D7; }
  /* line 59, ../../../app/stylesheets/partials/_table.sass */
  #content table.list input {
    font-size: 11px; }
  /* line 61, ../../../app/stylesheets/partials/_table.sass */
  #content table.list input:focus {
    background-color: #FFF; }

/* line 2, ../../../app/stylesheets/partials/_redbox.sass */
body #RB_window {
  padding: 10px;
  color: #f2f2f2;
  background-color: #232323;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  /* line 3, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window h1 {
    font-size: 13pt;
    color: #94a69d;
    margin-bottom: 5px; }
  /* line 7, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window em {
    font-size: 8pt;
    margin-bottom: 5px;
    color: #5A5A5A; }
  /* line 11, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window span {
    width: 700px; }
  /* line 13, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window a {
    color: #f2f2f2; }
  /* line 15, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window a:focus {
    color: #f2f2f2; }
  /* line 17, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window a:active {
    color: #f2f2f2; }
  /* line 19, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window a:visted {
    color: #f2f2f2; }
  /* line 21, ../../../app/stylesheets/partials/_redbox.sass */
  body #RB_window a:hover {
    color: #94a69d; }


/* line 2, ../../../app/stylesheets/partials/_scaffold.sass */
table {
  background: #232323; }
  /* line 4, ../../../app/stylesheets/partials/_scaffold.sass */
  table a, table a:visited {
    color: #584632; }

/* line 6, ../../../app/stylesheets/partials/_scaffold.sass */
td {
  border: 1px solid #363636;
  border-collapse: collapse;
  color: #f2f2f2;
  padding: 5px; }

/* line 11, ../../../app/stylesheets/partials/_scaffold.sass */
th {
  border: 1px solid #363636;
  border-collapse: collapse;
  color: #94a69d; }

/* line 15, ../../../app/stylesheets/partials/_scaffold.sass */
a, a:visited {
  color: #f2f2f2; }

/* line 17, ../../../app/stylesheets/partials/_scaffold.sass */
form {
  padding: 10px;
  background: #232323; }

/* line 2, ../../../app/stylesheets/partials/_wiki.sass */
#content .wiki_content {
  color: #cbcbcb;
  background: #393939; }
  /* line 5, ../../../app/stylesheets/partials/_wiki.sass */
  #content .wiki_content h2 {
    color: #cbcbcb;
    font-size: 14pt; }
  /* line 8, ../../../app/stylesheets/partials/_wiki.sass */
  #content .wiki_content h3 {
    color: #cbcbcb; }
  /* line 10, ../../../app/stylesheets/partials/_wiki.sass */
  #content .wiki_content h4 {
    color: #cbcbcb; }
  /* line 12, ../../../app/stylesheets/partials/_wiki.sass */
  #content .wiki_content a {
    color: #94a69d;
    text-decoration: none; }
  /* line 15, ../../../app/stylesheets/partials/_wiki.sass */
  #content .wiki_content a:hover {
    text-decoration: underline; }

/* line 1, ../../../app/stylesheets/partials/_lists.sass */
ul#twitter-messages {
  list-style: circle;
  margin-left: 0px; }
  /* line 4, ../../../app/stylesheets/partials/_lists.sass */
  ul#twitter-messages li {
    margin-bottom: 5px; }
    /* line 6, ../../../app/stylesheets/partials/_lists.sass */
    ul#twitter-messages li blockquote#twitter-text {
      color: #fff;
      font-size: 110%;
      padding: 0px;
      margin: 0 0 10px 0; }
    /* line 12, ../../../app/stylesheets/partials/_lists.sass */
    ul#twitter-messages li a:visited, ul#twitter-messages li a {
      color: #94A69D;
      font-size: 85%; }

/* line 1, ../../../app/stylesheets/partials/_error.sass */
.errorExplanation {
  width: 500px;
  padding: 10px;
  margin: 20px;
  background: #232323;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  /* line 8, ../../../app/stylesheets/partials/_error.sass */
  .errorExplanation h2 {
    color: #94a69d;
    font-size: 16pt; }

/* line 22, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }


/* line 36, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }

/* line 39, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }

/* line 42, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }

/* line 44, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }

/* line 46, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 9, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .clear {
  clear: both; }
/* line 12, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap; }
/* line 16, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.bp .clearfix {
    display: block; }
/* line 18, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }
/* line 22, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }
/* line 26, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0; }
/* line 29, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0; }
/* line 32, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0; }
/* line 35, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0; }
/* line 7, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1254047258'); }
/* line 5, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 30, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .error a {
    color: #8a1f11; }
/* line 7, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  /* line 38, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .notice a {
    color: #514721; }
/* line 9, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 46, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .success a {
    color: #264409; }
/* line 11, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .hide {
  display: none; }
/* line 13, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .highlight {
  background: yellow; }
/* line 15, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white; }
/* line 17, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white; }

/* line 15, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp label {
  font-weight: bold; }
/* line 17, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.title {
  font-size: 1.5em; }
/* line 30, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp select {
  margin: 0.5em 0; }
/* line 48, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title,
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form.bp input.text:focus, form.bp input.title:focus,
  form.bp textarea:focus,
  form.bp select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title {
  width: 300px; }
/* line 43, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px; }

/* line 37, ../../../app/stylesheets/screen.sass */
body {
  width: 950px;
  margin: 0 auto;
  background: #4a4a4a url('/images/background.png');
  padding: 10px;
  color: #f2f2f2; }

/* line 43, ../../../app/stylesheets/screen.sass */
.not-so-great {
  color: #963617;
  font-size: 14px; }

/* line 47, ../../../app/stylesheets/screen.sass */
.great {
  color: #94a69d;
  font-size: 14px; }

/* line 50, ../../../app/stylesheets/screen.sass */
.postive {
  color: #94a69d; }

/* line 52, ../../../app/stylesheets/screen.sass */
.negative {
  color: #963617; }

/* line 55, ../../../app/stylesheets/screen.sass */
.important {
  color: #94a69d;
  font-size: 16pt; }

/* line 58, ../../../app/stylesheets/screen.sass */
.inline-hints {
  color: #ededed;
  font-style: italic;
  font-size: 7pt; }

/* line 62, ../../../app/stylesheets/screen.sass */
.inline-errors {
  clear: both;
  color: #963617; }

/* line 65, ../../../app/stylesheets/screen.sass */
.strong {
  font-weight: strong; }

/* line 67, ../../../app/stylesheets/screen.sass */
.focus {
  background: #393939 url('/images/icons/exclamation.png') no-repeat 5px;
  padding: 6px;
  padding-left: 25px;
  color: #CBCBCB;
  border: 1px solid #232323; }

/* line 74, ../../../app/stylesheets/screen.sass */
.focus-smile {
  background: #393939 url('/images/icons/smiley-grin.png') no-repeat 5px;
  padding: 6px;
  padding-left: 25px;
  color: #CBCBCB;
  border: 1px solid #232323; }

/* line 81, ../../../app/stylesheets/screen.sass */
.notice {
  background: #393939 url('/images/icons/tick.png') no-repeat 5px;
  margin: 10px;
  padding: 6px;
  padding-left: 25px;
  color: #FFF;
  border: 1px solid #94a69d; }

/* line 89, ../../../app/stylesheets/screen.sass */
.error {
  background: #393939;
  margin: 10px;
  padding: 6px;
  padding-left: 25px;
  color: #FFF;
  border: 1px solid #a6423b; }

/* line 98, ../../../app/stylesheets/screen.sass */
.box {
  background: url(/images/icons/box-plus.png) no-repeat 4px;
  padding-left: 25px; }

/* line 101, ../../../app/stylesheets/screen.sass */
h3 {
  color: #FFF; }

/* line 103, ../../../app/stylesheets/screen.sass */
#menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 910px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  font-size: 14pt;
  background: #232323;
  color: #584632; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #menu {
    overflow-x: hidden; }
  /* line 111, ../../../app/stylesheets/screen.sass */
  #menu a {
    color: #584632;
    margin-right: 40px; }

/* line 114, ../../../app/stylesheets/screen.sass */
#menu.red {
  background-color: #6c2417;
  color: white; }

/* line 117, ../../../app/stylesheets/screen.sass */
#menu.green {
  font-size: 12pt;
  color: white;
  background-color: #94a69d; }

/* line 121, ../../../app/stylesheets/screen.sass */
#container, #content, #footer, #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #container, * html #content, * html #footer, * html #header {
    overflow-x: hidden; }
  /* line 123, ../../../app/stylesheets/screen.sass */
  #container .black, #content .black, #footer .black, #header .black {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    background: #232323; }

/* line 128, ../../../app/stylesheets/screen.sass */
#footer {
  text-align: center;
  border-top: 5px solid #fff; }

/* line 132, ../../../app/stylesheets/screen.sass */
#header a {
  color: #f2f2f2; }
/* line 134, ../../../app/stylesheets/screen.sass */
#header a:focus {
  color: #f2f2f2; }
/* line 136, ../../../app/stylesheets/screen.sass */
#header a:active {
  color: #f2f2f2; }
/* line 138, ../../../app/stylesheets/screen.sass */
#header a:visted {
  color: #f2f2f2; }
/* line 140, ../../../app/stylesheets/screen.sass */
#header a:hover {
  color: #94a69d; }

/* line 143, ../../../app/stylesheets/screen.sass */
#content {
  padding: 10px; }
  /* line 144, ../../../app/stylesheets/screen.sass */
  #content a {
    color: #f2f2f2; }
  /* line 146, ../../../app/stylesheets/screen.sass */
  #content a:focus {
    color: #f2f2f2; }
  /* line 148, ../../../app/stylesheets/screen.sass */
  #content a:active {
    color: #f2f2f2; }
  /* line 150, ../../../app/stylesheets/screen.sass */
  #content a:visted {
    color: #f2f2f2; }
  /* line 152, ../../../app/stylesheets/screen.sass */
  #content a:hover {
    color: #94a69d; }
  /* line 154, ../../../app/stylesheets/screen.sass */
  #content ul {
    list-style-type: circle; }
  /* line 159, ../../../app/stylesheets/screen.sass */
  #content h1 {
    font-size: 16pt;
    color: #94a69d; }
  /* line 162, ../../../app/stylesheets/screen.sass */
  #content label {
    font-size: 9pt;
    color: #584632;
    float: left;
    width: 80px; }
  /* line 167, ../../../app/stylesheets/screen.sass */
  #content input[type=text], #content input[type=password] {
    font-size: 9pt;
    margin-bottom: 5px;
    width: 160px; }
  /* line 171, ../../../app/stylesheets/screen.sass */
  #content input:hover {
    background: #E5ECDF; }

/* line 173, ../../../app/stylesheets/screen.sass */
#header {
  margin-bottom: 20px;
  border-bottom: 5px solid #fff; }
  /* line 176, ../../../app/stylesheets/screen.sass */
  #header h1 {
    color: #94a69d;
    letter-spacing: 1.5pt;
    text-transform: uppercase;
    margin: 0; }
  /* line 181, ../../../app/stylesheets/screen.sass */
  #header h2 {
    margin: 0;
    padding-left: 1.5pt;
    color: #f2f2f2;
    letter-spacing: 14pt;
    font-size: 8pt;
    text-transform: uppercase; }

/* line 188, ../../../app/stylesheets/screen.sass */
.pretty-form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: #232323;
  margin-bottom: 5px;
  padding: 10px 10px 0 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .pretty-form {
    overflow-x: hidden; }

/* line 196, ../../../app/stylesheets/screen.sass */
form p {
  color: #f2f2f2; }
/* line 198, ../../../app/stylesheets/screen.sass */
form select {
  width: 150px;
  margin-bottom: 10px; }
/* line 201, ../../../app/stylesheets/screen.sass */
form input {
  float: left; }
/* line 203, ../../../app/stylesheets/screen.sass */
form input[type="submit"] {
  width: 160px;
  height: 25px;
  border: 2px solid #94a69d;
  margin-bottom: 10px; }
/* line 208, ../../../app/stylesheets/screen.sass */
form fieldset {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html form fieldset {
    overflow-x: hidden; }
  /* line 210, ../../../app/stylesheets/screen.sass */
  form fieldset p.explanation {
    color: #f2f2f2;
    height: 75px; }
/* line 213, ../../../app/stylesheets/screen.sass */
form fieldset.inputs {
  width: 200px; }
/* line 215, ../../../app/stylesheets/screen.sass */
form fieldset.last-item {
  margin-right: 0; }
/* line 217, ../../../app/stylesheets/screen.sass */
form legend {
  color: #94a69d;
  font-size: 15pt; }

/* line 221, ../../../app/stylesheets/screen.sass */
table th {
  text-align: center;
  color: #584632;
  border-bottom: 1px solid #f2f2f2; }
/* line 225, ../../../app/stylesheets/screen.sass */
table td {
  color: #f2f2f2;
  text-align: center;
  padding: 1px; }

/* line 231, ../../../app/stylesheets/screen.sass */
#content ol.top10 li {
  margin-left: 20px;
  list-style: decimal;
  display: list-item;
  font-size: 18px; }

/* line 237, ../../../app/stylesheets/screen.sass */
#content.invoice {
  color: #1F1F1F; }
  /* line 241, ../../../app/stylesheets/screen.sass */
  #content.invoice #total-price td {
    border-top: 3px solid #000; }
  /* line 244, ../../../app/stylesheets/screen.sass */
  #content.invoice table.simple tr {
    border-collapse: collapse; }
  /* line 246, ../../../app/stylesheets/screen.sass */
  #content.invoice table.simple th, #content.invoice table.simple td {
    border-collapse: collapse;
    color: #1F1F1F;
    background: #FFF; }
  /* line 250, ../../../app/stylesheets/screen.sass */
  #content.invoice h1 {
    color: #94a69d;
    font-size: 24pt;
    letter-spacing: 3pt;
    text-transform: uppercase;
    margin: 0; }
  /* line 256, ../../../app/stylesheets/screen.sass */
  #content.invoice h2 {
    margin: 0;
    padding-left: 1.5pt;
    color: #584632;
    letter-spacing: 10.4pt;
    font-size: 8pt;
    text-transform: uppercase; }

/* line 263, ../../../app/stylesheets/screen.sass */
#content span .caps {
  float: none;
  color: #F0F0F0;
  position: relative; }

/* line 267, ../../../app/stylesheets/screen.sass */
#content .green-link {
  color: #388532; }

/* line 269, ../../../app/stylesheets/screen.sass */
#content .fancy_box.invoices, #content .red-link {
  color: #963617; }
  /* line 271, ../../../app/stylesheets/screen.sass */
  #content .fancy_box.invoices a, #content .red-link a {
    color: #963617; }
  /* line 273, ../../../app/stylesheets/screen.sass */
  #content .fancy_box.invoices a:visited, #content .red-link a:visited {
    color: #963617; }

/* line 275, ../../../app/stylesheets/screen.sass */
#content .fancy_box {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 162px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background: #232323; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content .fancy_box {
    overflow-x: hidden; }
  /* line 282, ../../../app/stylesheets/screen.sass */
  #content .fancy_box label {
    width: auto;
    float: none;
    display: block;
    font-weight: bold; }
  /* line 287, ../../../app/stylesheets/screen.sass */
  #content .fancy_box h1 {
    font-size: 12pt; }
  /* line 289, ../../../app/stylesheets/screen.sass */
  #content .fancy_box h2 {
    color: #94a69d;
    font-size: 11pt;
    margin-top: 5px;
    margin-bottom: 3px; }
  /* line 294, ../../../app/stylesheets/screen.sass */
  #content .fancy_box p {
    margin: 1px; }
  /* line 296, ../../../app/stylesheets/screen.sass */
  #content .fancy_box p.small {
    color: #DDD;
    font-size: 7pt;
    font-style: italics;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px; }
  /* line 303, ../../../app/stylesheets/screen.sass */
  #content .fancy_box ol {
    list-style-type: upper-roman;
    color: white; }
  /* line 306, ../../../app/stylesheets/screen.sass */
  #content .fancy_box ul.menu {
    list-style-type: square;
    padding: 2px;
    font-size: 10pt; }
    /* line 310, ../../../app/stylesheets/screen.sass */
    #content .fancy_box ul.menu li {
      border-bottom: 2px solid white;
      text-align: center; }
      /* line 313, ../../../app/stylesheets/screen.sass */
      #content .fancy_box ul.menu li a {
        text-decoration: none; }

/* line 315, ../../../app/stylesheets/screen.sass */
#content .fancy_box.mid {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content .fancy_box.mid {
    overflow-x: hidden; }

/* line 317, ../../../app/stylesheets/screen.sass */
#content .fancy_box.long {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content .fancy_box.long {
    overflow-x: hidden; }

/* line 319, ../../../app/stylesheets/screen.sass */
#content .fancy_box.full {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px; }
  /* line 101, ../../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #content .fancy_box.full {
    overflow-x: hidden; }

/* line 321, ../../../app/stylesheets/screen.sass */
#content .fancy_box.fixed {
  width: 280px;
  height: 100px; }

/* line 324, ../../../app/stylesheets/screen.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }


#content section {
  background: #232323;
  padding: 10px;
  overflow: hidden;
  margin: 10px 0;
}
#content section form {
  background: transparent;
  width: 300px;
  
}
#content section div {
  clear: both;
}
#content section form button {
  /*margin-left: 200px;*/
}
#container p {
  float:right;
}
#container p a {
  color: #f2f2f2;
}